
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

<style>
body{
    margin: 0 ;
    font-family: "Roboto", sans-serif
}
.header {
background-color:#1b5774;
color: #ffffff;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
}
.base{
    padding: 5px;
    margin: 0;
}
/*
.logo{
    width: 100px;
}
    */
.header-links a {
    color: white;
    padding: 5px  15px;
    text-decoration: none;
    border-radius: 15px;

}
.header-links a:hover {
   background-color: #388096;
}
.header-links button {
    background-color: #97c8e6;
    padding: 5px 15px;
    border: none;
}
.header-links button:hover { 
    background-color:#e67676;
}
.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    background-color: #b6c4c7;
    /*اضافة صورة كخلفية */
   /* background: url(./d9add4e2d686d3a0c031c4cd6458e069_high.webp) center center/cover no-repeat;*/
}
.header-content h1{
    font-size: 40px;
    color:#040e46;
}
.header-content p { 
    margin: 20px 0 40px;
    color:#042442;
}
</style>